<!--
<%= @user.name %>, <%= @user.email %>
<%= provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
-->
<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span">
    <section>
      <h1>
        <%= gravatar_for @user %>
        Name: <%= @user.name %>
        | Email: <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
